{% assign event_url='https://gettogether.community/team/1318/events.ics' %}

<div class="col-md-8 console col-sm-12 wraps" >
  <div id="meetup-embed">
  </div>

  <script src={{ site.baseurl | append:'/assets/js/getEvent.js' }} type="text/javascript"></script> 
  <script>
   getEvent('{{ event_url }}', evHtml => { document.getElementById("meetup-embed").innerHTML = evHtml; });
  </script> 

</div>
